<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
  </head>
  <body>
    <form action="/songsDataAnalysis" method="post">
      <button type="submit">Download songs analysis information</button>
    </form>
  </body>
</html>
